html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,h2,
h3,h4 {
  color: #7e4333;
  font-family: "DM Serif Display";
}
a,p,ul,li{
  font-family: "DM Sans";
}
header a {
  text-decoration: none;
  color: aliceblue;
}
header {
  position: sticky;
  top: -10px;
  z-index: 1000;
}
footer{
  margin-top: 2%;
}
body {
  background-color: #f3e5d8;
  margin: 0;
  padding: 0;
}
section a{
  text-decoration: none;
  color: #000000;
}
#info-main {
  width: 98%;
  max-width: 1444px;
  margin-left: auto;
  margin-right: auto;
}
#logo-bitcook {
  background-color: #255538;
  width: 100%;
  margin:1% 1% 1% 1%;
  padding: 15px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
#envia-receta {
  list-style: none;
  color: #ffffff;
  margin: 0;
}

#titular {
  background-image: url(../img/banner-principal.jpg);
  width: 100%;
  max-width: 1472px;
  max-height: 341px;
  height: auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #000000;
  border-radius: 8px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 150%;
}
#txt-vaner{
  background-color: rgba(228, 228, 228, 0.9);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 10%;
  padding:1%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
}
#search-bar{
  display: none;
  padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #255538;
    margin-left: 2%;
    margin-top: -2%;
    background-color: rgb(255, 255, 255, 1.6);
    z-index: 6;
}

#section-recetas-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "receta1 receta2 receta3"
    "receta4 receta5 receta6"
  ;
  gap: 10px;
  width: 100%;
  margin: 0;
}

.img-receta{
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.recipe{
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 95%;
  padding: 2%;
}

@media (max-width: 768px) {
  #section-recetas-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "receta1 receta2"
      "receta3 receta4"
      "receta5 receta6"
    ;
    gap: 10px;
    width: 100%;
    margin: 0;
  }
#titular{
    
    font-size: 100%;
}
#titular img{
  background-image: url(../img/banner-principal.jpg);
  width: 100%;
}
}

@media (max-width: 560px) {
  #section-recetas-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "receta1"
      "receta2"
      "receta3"
      "receta4"
      "receta5"
      "receta6"
    ;
    gap: 10px;
    width: 100%;
    margin: 0;
  }
#titular{
  font-size: 100%;
}
  
}