
html {
  scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,h2,
h3,h4 {
  color: #7e4333;
  font-family: "DM Serif Display";
}
a,p,ul,li{
  font-family: "DM Sans";
}
header a {
  text-decoration: none;
  color: aliceblue;
}
header {
  position: sticky;
  top: -0px;
  z-index: 1000;
}
footer{
  margin-top: 2%;
}
body {
  background-color: #f3e5d8;
  margin: 0;
  padding: 0;
}
table {
    border-spacing: 5px;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
  }
  td {
    border-bottom: 1px solid #7e4333;
    width: 100%;
    padding-top: 15px;
  }
  table tr td:nth-of-type(2) {
    text-align: right;
  }

  #img-text h4,p{
    margin: 0;
  }
  #logo-bitcook {
    background-color: #255538;
    width: 100%;
    margin: 0.2%;
    padding: 15px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  #envia-receta {
    list-style: none;
    color: #ffffff;
    margin: 0;
  }

#main-risotto {
  width: 98%;
  max-width: 1444px;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 
    "receta receta ingrediente"
    "receta receta ingrediente"
    "receta receta more"
  ;
  gap: 10px;
}
#img-risotto {
    width: 99%;
    height: auto;
    border-radius: 5px;
}

#section-receta {
    width: 100%;
    max-width: 95%;
    height: auto;
    margin: 0 auto;
    background-color: #ffffffd4;
    padding: 2%;
    border-radius: 5px;
    grid-area: receta;
}

#section-receta ol li{
  max-width: 85%;
  margin-top: 10px ;
}

#section-ingredients {
    width: 95%;
    height: auto;
    margin: 0 auto;
    background-color: #ffffffd4;
    padding: 15px;
    border-radius: 5px;
}
#section-more-recipes{
    width: 95%;
    height: auto;
    background-color: #ffffffd4;
    padding: 15px;
    border-radius: 5px;
}
#section-more-recipes img{
  width: 35%;
  height: auto;
  border-radius: 5px;
}

.section-img-recipes {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.img-recipe {
  width: 150px;
  height: auto;
  border-radius: 5px;
  margin-right: 20px; 
}

.text-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#img-text {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


@media (max-width:768px ) {
  #main-risotto {
    width: 98%;
    max-width: 1444px;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "receta"
      "ingrediente"
      "more"
    ;
    gap: 10px;
  }

}


